.ctaButton {
  padding: 12px 12px 12px 12px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none !important;
  transition: all 0.3s ease-out;
  border-radius: 6px;
  color:black;
  background-color: var(--ifm-color-primary-dark);
}

.container {
  margin-bottom: 24px;
  margin-top: 12px;
}

[data-theme="dark"] .ctaButton:hover {
  color: black;
  background-color: white
}

[data-theme="light"] .ctaButton {
  color:black;
  background-color: white;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 1;
}

