.ctaButton {
  padding: 12px 12px 12px 12px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none !important;
  transition: all 0.4s ease-out;
  border-radius: 6px;
  color:black;
  background-color: var(--ifm-color-primary-dark);
}

.ctaButton:hover {
  color: black;
  background-color: white
}

