.cardContainer {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  background-color: var(--card-background);
  border: 1px solid var(--card-border-color);
  transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
  height: auto;
  overflow: hidden;
  padding: 18px 18px 0px 18px;
}

@media screen and (max-width: 768px) {
  .cardContainer {
      width: 100%;
  }
}

[data-theme="dark"] .cardContainer {
  --card-background: #2c2c2c;
  --card-border-color: #3b3b3b;
}

[data-theme="light"] .cardContainer {
  --card-border-color: #2c2c2c;
}

.cardLink {
  display: block;
  padding: 16px;
  text-decoration: none;
}

.cardHeader {
  display: flex;
  color: white;
  transition: color 0.2s; /* Added transition property */
  align-items: center;
}

[data-theme="light"] .cardHeader {
  display: flex;
  color: black;
  transition: color 0.2s; /* Added transition property */
}

.cardBody {
  color: #ffffffb3;
  transition: color 0.2s; /* Added transition property */
}

[data-theme="light"] .cardBody {
  color: #000000;
  transition: color 0.2s; /* Added transition property */
}

.cardIcon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background-color: transparent;
}

.emojiIcon {
  margin-right: 8px;
  font-size: 24px;
  align-self: center;
}

.cardHeader h3 {
  margin: 0;
}

/* Hover */ 

.cardContainer:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--outline-color);
}

[data-theme="light"] .cardContainer:hover {
  --outline-color: var(--ifm-color-primary-light);
}

[data-theme="dark"] .cardContainer:hover {
  --outline-color: var(--ifm-color-primary-light);
}

.cardLink:hover {
  text-decoration: none;
}

.cardContainer:hover .cardBody p {
  color: var(--ifm-color-primary-light);
}

.cardContainer:hover .cardHeader {
  color: var(--ifm-color-primary-light);
}
