/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Purple theme */
:root {
  --ifm-color-primary: #5c5de5;
  --ifm-color-primary-dark: #524fcc;
  --ifm-color-primary-darker: #4942b2;
  --ifm-color-primary-darkest: #413499;
  --ifm-color-primary-light: #6d6fe8;
  --ifm-color-primary-lighter: #7d7feb;
  --ifm-color-primary-lightest: #8d8fef;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --sidebar-header-color: black;
}

[data-theme='dark'] {
  --ifm-color-primary: #898cff;
  --ifm-color-primary-dark: #7b7fe6;
  --ifm-color-primary-darker: #6d72cc;
  --ifm-color-primary-darkest: #5e65b2;
  --ifm-color-primary-light: #9699ff;
  --ifm-color-primary-lighter: #a3a6ff;
  --ifm-color-primary-lightest: #b0b3ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --sidebar-header-color: gray;
}

/* Image Styles */
.diagram-image {
  border-radius: 8px;
}

/* Sidebar Styles */

.back-to-home-sidebar-item {
  font-size: 12px;
  margin-bottom: 6px;
}

.sidebar-header {
  flex: 1;
  flex-direction: row;
  font-size: 18px;
  margin-left: 6px;
}

[data-theme='light'] .react-native.sidebar-header::before {
  content: url(../../static/img/react-native-32-light.svg);
  vertical-align: middle;
  margin-right: 6px;
}

.react-native.sidebar-header::before {
  content: url(../../static/img/react-native-32.svg);
  vertical-align: middle;
  margin-right: 6px;
}

.android-native.sidebar-header::before {
  content: url(../../static/img/kotlin-icon-32.svg);
  vertical-align: middle;
  margin-right: 6px;
}

.flutter.sidebar-header::before {
  content: url(../../static/img/flutter-icon-32.svg);
  vertical-align: middle;
  margin-right: 6px;
}

.sidebar-divider {
    height: 1px; /* Thickness of the divider */
    background-color: rgb(96, 96, 96); /* Color of the divider */
    margin: 10px 0px 0px 2px;
}

.sidebar-section-header {
  color: var(--sidebar-header-color); /* Text color */
  font-weight: bold;
  font-size: 14px; /* Adjust according to your need */
  padding: 12px 6px 0px 12px /* Optional: Adds some space around the text */
}

.react-native-sidebar-header > div > a::before {
  content: url('data:image/svg+xml,<svg class="sidebar-icon-header ___12fm75w f1w7gpdv fez10in fg4l7m0" aria-hidden="true" width="1em" height="1em" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.54 2a6.5 6.5 0 0 0-5.68 9.67l-.8 2.08a1 1 0 0 0 1.21 1.32l2.49-.7A6.5 6.5 0 1 0 8.54 2Zm-5.5 6.5a5.5 5.5 0 1 1 3 4.9l-.18-.09-2.86.8.97-2.53-.13-.21a5.47 5.47 0 0 1-.8-2.87ZM11.5 18a6.49 6.49 0 0 1-4.93-2.26 7.5 7.5 0 0 0 1.76.26 5.47 5.47 0 0 0 5.67.4l.18-.09 2.86.8-.97-2.53.13-.21a5.47 5.47 0 0 0-.16-5.98c-.01-.6-.1-1.2-.24-1.76a6.48 6.48 0 0 1 1.38 8.04l.8 2.08a1 1 0 0 1-1.21 1.32l-2.49-.7c-.84.4-1.79.63-2.78.63Z" fill="currentColor"></path></svg>');
  margin-top: 0.25rem;  /* Adjust to match your design */
  margin-right: 0.5rem; /* Adjust to match your design */
}