.cardContainer {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--card-background, #ffffff);
  border: 1px solid var(--card-border-color, #e0e0e0);
  transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
  height: auto;
  overflow: hidden;
  padding: 12px 12px 12px 12px;
}

@media screen and (max-width: 768px) {
  .cardContainer {
      width: 100%;
  }
}

[data-theme="dark"] .cardContainer {
  --card-background: #2c2c2c;
  --card-border-color: #3b3b3b;
  --icon-background: #3a3a3a;
}

[data-theme="light"] .cardContainer {
  --card-background: #ffffff;
  --card-border-color: #e0e0e0;
  --icon-background: #f0f0f0;
}

.cardLink {
  display: block;
  padding: 12px;
  text-decoration: none;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.iconWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2px;
}

.cardHeader {
  color: white;
  transition: color 0.2s;
}

[data-theme="light"] .cardHeader {
  color: black;
  transition: color 0.2s;
}

.cardBody {
  color: #ffffffb3;
  transition: color 0.2s;
  margin-top: 2px;
  padding-bottom: 4px;
}

[data-theme="light"] .cardBody {
  color: #000000;
  transition: color 0.2s;
}

.cardIcon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--icon-background);
  border-radius: 8px;
  padding: 6px;
}

.emojiIcon {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: var(--icon-background);
  border-radius: 8px;
  padding: 6px;
}

.cardHeader h3 {
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
}

.cardBody p {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}

/* Hover */ 

.cardContainer:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--outline-color);
}

[data-theme="light"] .cardContainer:hover {
  --outline-color: var(--ifm-color-primary-light);
}

[data-theme="dark"] .cardContainer:hover {
  --outline-color: var(--ifm-color-primary-light);
}

.cardLink:hover {
  text-decoration: none;
}

.cardContainer:hover .cardBody p {
  color: var(--ifm-color-primary-light);
}

.cardContainer:hover .cardHeader {
  color: var(--ifm-color-primary-light);
}